body {
  color: #151aa0;
}

.img-fluid {
  max-height: 50vh;
}

.img-members {
  max-height: 20vh;
  max-width: 100%;
}
.blue-bg {
  background-color: #2376d4;
}

#messages {
  max-height: 49vh;
  overflow-y: auto;
}

textarea {
  width: 100%;
}

i:hover,
a:hover {
  color: white !important;
  text-decoration: underline;
}

a:active,
i:active {
  color: white !important;
}

a {
  color: white !important;
}

.btn-primary {
  background-color: #2376d4;
}
