body {
  color: #0077c2;
}
.container {
  /* border: 1px solid black; */
  /* background-color: rgb(179, 221, 221); */
}

.border {
  /* border: 1px solid rgb(194, 63, 63); */
  /* background-color: rgb(174, 195, 226); */
}

.img-fluid {
  max-height: 50vh;
}

.img-members {
  max-height: 20vh;
  max-width: 100%;
}
.blue-bg {
  background-color: #42a5f5;
}

#messages {
  max-height: 49vh;
  overflow-y: auto;
}

textarea {
  width: 100%;
}

a:hover, i:hover {
  color: rgb(53, 36, 212);
  text-decoration: none;
  
}

a:visited,
a:active,
i:visited,
i:active {
  color:white;
}

.btn-primary {
  background-color: #42a5f5;
}
